body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  height: 50px;
  background-color: rgb(156, 70, 156);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.home {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(152, 28, 255, 0.16);
  -moz-box-shadow: 0px 1px 10px 1px rgba(152, 28, 255, 0.16);
  box-shadow: 0px 1px 10px 1px rgba(152, 28, 255, 0.16);
  border-radius: 20px;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 20px 0px;
}
.description {
  color: rgb(39, 23, 41);
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton {
  border: none;
  border-radius: 10px;
  background-color: rgb(69, 46, 77);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courseImg {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
  margin-bottom: 20px;
}

.courseDescription {
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: rgb(119, 97, 126);
  margin-top: 50px;
}

.courseLongDescription {
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(152, 28, 255, 0.16);
  -moz-box-shadow: 0px 1px 10px 1px rgba(152, 28, 255, 0.16);
  box-shadow: 0px 1px 10px 1px rgba(152, 28, 255, 0.16);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: rgb(170, 136, 170);
  background-color: white;
  font-weight: bold;
}

.line {
  width: 0.5px;
  height: 70%;
  background-color: rgb(180, 161, 180);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton {
  width: 150px;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.google {
  background-color: #df4930;
}

.facebook {
  background-color: #507cc0;
}

.github {
  background-color: black;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input {
  border: 1px solid rgb(110, 97, 110);
  border-radius: 10px;
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  width: 242px;
  background-color: rgb(156, 70, 156);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
}

.loginTitle {
  position: absolute;
  top: 100px;
  color: rgb(168, 158, 173);
}

.link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
}

.title {
  display: flex;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
}
